.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.demo-button-container {
  display: flex;
  align-items: center;
}

.search-field {
  margin-right: 16px;
  margin-left: 8px;
  width: 300px;
}

.demo-button {

}
