{{transformedData}}

<!-- <div *ngIf="courses$ | async as courses;">
  <ul>
    <li *ngFor="let course of courses">
      {{ course.CourseName }} - {{ course.Price | currency:course.Currency }}
    </li>
  </ul>
</div> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="transformedData" class="mat-elevation-z8">

    <!-- Course Name Column -->
    <ng-container matColumnDef="CourseName">
      <th mat-header-cell *matHeaderCellDef> Course Name </th>
      <td mat-cell *matCellDef="let element"> {{element.CourseName}} </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.Location}} </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="StartDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.StartDate}} </td>
    </ng-container>

    <!-- Length Column -->
    <ng-container matColumnDef="Length">
      <th mat-header-cell *matHeaderCellDef> Length </th>
      <td mat-cell *matCellDef="let element"> {{element.Length}} </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="Cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.Cost}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
