<mat-dialog-content class="mat-typography">
  <form [formGroup]="courseForm" novalidate (ngSubmit)="onFormSubmit()">
    <mat-dialog-actions align="end">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.valid">{{data ? 'Update' : -->
      <button mat-raised-button color="primary" type="submit" >{{data ? 'Update' :
        'Save'}}</button>
    </mat-dialog-actions>
    <div class="main-body" *ngIf="course">
      <h2 mat-dialog-title>Edit</h2>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Course Name</mat-label>
          <input matInput type="text" [(ngModel)]="course.CourseName" placeholder="Course Name"
            formControlName="CourseName" id="CourseName">
          <mat-error *ngIf="hasError('CourseName', 'required')">Course Name is required</mat-error>
          <mat-error *ngIf="hasError('CourseName', 'maxlength')">Limit exceed</mat-error>
        </mat-form-field>
      </div>




      <!-- University Field -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>University</mat-label>
          <input matInput type="text" [(ngModel)]="course.University" placeholder="University"
            formControlName="University" id="University" [matAutocomplete]="autoUniversity">
          <mat-error *ngIf="hasError('University', 'required')">University is required</mat-error>
          <mat-error *ngIf="hasError('University', 'maxlength')">Limit exceed</mat-error>
        </mat-form-field>
        <mat-autocomplete autoActiveFirstOption #autoUniversity="matAutocomplete">
          <mat-option *ngFor="let option of filteredUniversities | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- Country Field -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input matInput type="text" [(ngModel)]="course.Country" placeholder="Country" formControlName="Country"
            id="Country" [matAutocomplete]="autoCountry">
          <mat-error *ngIf="hasError('Country', 'required')">Country is required</mat-error>
          <mat-error *ngIf="hasError('Country', 'maxlength')">Limit exceed</mat-error>
        </mat-form-field>
        <mat-autocomplete autoActiveFirstOption #autoCountry="matAutocomplete">
          <mat-option *ngFor="let option of filteredCountries | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- City Field -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input matInput type="text" [(ngModel)]="course.City" placeholder="City" formControlName="City" id="City"
            [matAutocomplete]="autoCity">
          <mat-error *ngIf="hasError('City', 'required')">City is required</mat-error>
          <mat-error *ngIf="hasError('City', 'maxlength')">Limit exceed</mat-error>
        </mat-form-field>
        <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
          <mat-option *ngFor="let option of filteredCities | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>



      <!-- Start Date Field -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="StartDate" [(ngModel)]="course.StartDate"
            id="StartDate">
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <mat-hint>YYYY/MM/DD</mat-hint>
          <mat-error *ngIf="hasError('StartDate', 'required')">Start Date is required</mat-error>
          <mat-error *ngIf="hasError('StartDate', 'invalidDate')">Invalid date format</mat-error>
        </mat-form-field>
      </div>

      <!-- End Date Field -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="dpEnd" formControlName="EndDate" [(ngModel)]="course.EndDate" id="EndDate">
          <mat-datepicker-toggle matIconSuffix [for]="dpEnd"></mat-datepicker-toggle>
          <mat-datepicker #dpEnd></mat-datepicker>
          <mat-hint>YYYY/MM/DD</mat-hint>
          <mat-error *ngIf="hasError('EndDate', 'required')">End Date is required</mat-error>
          <mat-error *ngIf="hasError('EndDate', 'invalidDate')">Invalid date format</mat-error>
        </mat-form-field>
      </div>


      <!-- {{course.Currency}} -->
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="Currency" [(ngModel)]="course.Currency" formControlName="Currency" id="Currency"
          name="Currency" placeholder="Select a currency" [compareWith]="compareObjects">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency.code}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('Currency', 'required')">Currency is required</mat-error>
      </mat-form-field>

      <!-- Price Field -->
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="number" [(ngModel)]="course.Price" placeholder="Price" formControlName="Price"
            id="Price">
          <mat-error *ngIf="hasError('Price', 'required')">Price is required</mat-error>
          <mat-error *ngIf="hasError('Price', 'maxlength')">Limit exceed</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Course Description</mat-label>
          <textarea matInput [(ngModel)]="course.CourseDescription" placeholder="Course Description"
            formControlName="CourseDescription" id="CourseDescription"></textarea>
          <mat-error *ngIf="hasError('CourseDescription', 'required')">Course Description is required</mat-error>
          <mat-error *ngIf="hasError('CourseDescription', 'maxlength')">Limit exceed</mat-error>
        </mat-form-field>
      </div>

      <!-- <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput type="text" placeholder="Ex. Short description of the type" formControlName="description">
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Father</mat-label>
          <mat-select formControlName="typeFather" [(ngModel)]="typeFatherSelected">
            <mat-option>
            </mat-option>
            <mat-option *ngFor="let val of types" [value]="val.id">{{val.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

    </div>
  </form>


</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions> -->
